# General
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyd
.Python
*.sqlite3
db.sqlite3
*.log
*.cache
*.env
.env

# Virtual environments
venv/
env/
.venv/
.env/
bin/
Include/
Lib/
Scripts/
pip-wheel-metadata/
*.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints

# PyArrow and parquet artifacts
*.parquet
*.arrow

# FastAPI and data directories
datasets/
*.db

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js build artifacts
.next/
out/
*.module.css.d.ts

# IDE files
.idea/
.vscode/
*.iml

# OS-specific files
*.swp
*.swo
*.bak
*.tmp
*.log

# System directories
.target/
logs/